#install4j response file for JIRA Software 7.13.0
#Fri Nov 30 20:41:42 CET 2018
executeLauncherAction$Boolean=true
app.install.service$Boolean=false
sys.confirmedUpdateInstallationString=false
launch.application$Boolean=true
existingInstallationDir={{ tmp }}/atlassian/jira
sys.languageId=en
sys.installationDir={{ tmp}}/atlassian/jira
