# Jira response varfile for quiet installation
sys.languageId=en
app.install.service$Boolean=false
launch.application$Boolean=true
executeLauncherAction$Boolean=true

# Folder
existingInstallationDir={{ jira_installation_folder }}
sys.installationDir={{ jira_installation_folder }}

# Backup/Upgrade or Full Installation
{% if jira_exists.stat.exists == true %}
backupJira$Boolean=true
sys.confirmedUpdateInstallationString=true
{% else %}
backupJira$Boolean=false
sys.confirmedUpdateInstallationString=false
{% endif %}
